
th {
  color: darkviolet;
}

.edit {
  background-color: #24BBCC;
  width: 30px;
  height: 30px;
}

.delete {
  background-color: #FF1493;
  width: 30px;
  height: 30px;
}

.specialbtn {
  flex: 1 1 auto;
  padding: 10px;
  background-image: linear-gradient(to right, #24BBCC 0%, darkviolet 51%, #FF1493 100%);
  text-align: center;
  text-transform: uppercase;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 4px;
  margin: 0;
  border: none;
  margin-bottom: 4%;
  transition: background 2s ease-in;
  height: 150px;
  width: 150px;
  font-size: 150%;
  font-weight: bold;
}

.specialbtn:hover {
  background-position: right center;
  transition: background 2s ease-out;
  color: white;
  border: none;
}

.center {
  display: flex;
  justify-content: center;
}
